<div class="jumbotron d-flex align-items-center">
    <div class="container top-margin">

            <div class="row justify-content-center align-items-center">
                <h2>Welcome to Scheduler App</h2>
            </div>

            <!--div *ngIf="!isLoggedIn">
                    Not logged in
            </div>                    
            <div *ngIf="isLoggedIn">
                        Logged in
            </div-->                    
            
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
                    <div class="row justify-content-center align-items-center">                        
                        <p class="text-justify text-muted margin-top-10">Sign in</p>                                                                            
                    </div>
                    <div class="row justify-content-center align-items-center">
                            <!--button [disabled]="loading" class="btn btn-primary">Login</button-->                    
                            <button  class="btn btn-primary">Login</button>                    

                        </div>                            
            </form>                

            <div class="row justify-content-center align-items-center">
                    <p class="text-justify text-muted margin-top-10">Or register new account</p>                
            </div>    
            <div class="row justify-content-center align-items-center">
                    <button  class="btn btn-secondary">Register</button>
            </div>    

            
    </div>
</div>